.board
	width: 100%
	height: 600px
	position: relative
	background-color: #ffffff
	color: #000
	box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.34)
	margin: 0
	font-size: 12px
	&::before
		content: ''
		position: absolute
		left: 0
		width: 0
		border-top: 600px solid #00d2ff
		border-right: 500px solid transparent
	&__content 
		font-size: 12px
	&__title
		position: absolute
		right: 0
		top: 10px
		writing-mode: vertical-rl
		height: 100%
		line-height: 83px
		letter-spacing: 13.7px
		font-size: 10.6em
		transform: scale(-1, -1)
	&__counter
		position: absolute
		z-index: 2
		right: 0
		top: 88px
	&__buttons
		position: absolute
		z-index: 2
		right: -38px
		top: 50px
	&__img
		flex-basis: 51%
		display: flex
		justify-content: space-around
	&__big-img
		flex-basis: 77.75%
		text-align: center
	&__thumbs
		flex-basis: 13%
	&__thumb
		margin-bottom: 3px
	&__text-content 
		flex-basis: 45%
		position: relative
	&__subtitle
		font-size: 1.67em
		line-height: 1.3em
		max-height: 5.1em
		-moz-hyphens: auto
		text-overflow: ellipsis
		word-wrap: break-word
		overflow: hidden
	&__mark
		margin-top: 13px
		margin-bottom: 41px
	&__description-titles
		margin-bottom: 27px
		display: flex
		justify-content: space-around
	&__description-title
		padding-bottom: 10px
		transition: .2s
		font-size: 1.17em
	&__description-text
		font-size: 1.33em
		height: 10em
		line-height: 1.5em
	&__price
		margin-top: 47px
		margin-right: 29px
	&__button
		display: inline-block
		margin-top: 36px
	&__more
		margin-top: 96px
//adaptive
@include for-large 
	.board 
		width: 1030px
		&__img
			flex-basis: 51.94%
		&__text-content 
			flex-basis: 41.65%	
@include for-medium
	.board
		width: calc(100% - 60px)
		&__img
@include for-small
	.board
		&__img
			flex-basis: 48%
		&__big-img
			flex-basis: 81.75%
		&__buttons
			right: 0
		&__more
			margin-top: 80px
		&__title
			line-height: normal
		&__subtitle
			margin-right: 65px
		&__description-title
			margin-right: 15px
@include for-extra-small
	.board
		height: auto
		box-shadow: none
		&::before
			border-top: 0
			border-right: 0
		&__text-content 
			margin-top: 40px
			padding-right: 10px
			padding-left: 10px
		&__title
			line-height: normal
			overflow: hidden
			width: 120px
		&__buttons
			right: 0
			top: 375px
		&__counter
			top: 375px
			right: 76px
		&__description-title
			font-size: 1em
		&__img
			max-width: 463px
			height: 375px
			flex-basis: auto
		&__big-img
			flex-basis: 65.75%
		&__text-content 
			max-width: 398px
		&__subtitle,
		&__more
			text-align: center
		&__more
			margin-top: 50px











