.slider
	height: 100%
	position: relative
	display: flex
	align-items: center
	left: 0
	transition: all 1s
	&__item
		flex: 0 0 100%
		display: flex
		justify-content: space-around
	&__wrap
		height: 100%
		overflow: hidden
	&__counter
		width: 58px
		height: 38px
		line-height: 38px
		background-color: #000000
		color: #ffffff
		font-family: 'Montserrat', sans-serif
		font-size: 0
		letter-spacing: -0.56px
		text-align: center
	&__current-slide, &__count-separator, &__amount-slides
		display: inline
		font-size: 14px
@include for-extra-small
	.slider__item
		width: 100%
		height: 100%
		flex-direction: column
		justify-content: center
		align-items: center

.small-item-slider
	padding: 25px 0 30px 0
	position: relative
	&__wrap
		display: flex
		justify-content: center
		align-items: center
	&__content
		overflow: hidden
		flex-basis: 95%
	&__item
		flex-basis: 25%
		&:nth-child(2n)
			position: relative
			margin-top: 60px
		display: flex
		justify-content: center
		align-items: center
	&__button
		width: 51px
		height: 50px
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.16)
		border: 1px solid #e6e6e6
		background-color: #fff
		background-image: none
		border-radius: 50%
		text-align: center
		transition: all .3s
		&:hover
			background-color: $sky-blue
			.small-item-slider__svg path
				fill: #fff
	&__svg
		margin-top: 16px

@include for-extra-small
	.small-item-slider
		&__wrap
			position: relative
		&__item
			flex-basis: 100%
			&:nth-child(2n)
				margin-top: 0
		&__button
			position: absolute
			z-index: 2
			&.slider__button-prev
				right: 80%
			&.slider__button-next
				left: 80%
@include for-small
	.small-item-slider
		&__content
			max-width: 600px
		&__item
			flex-basis: 50%
			&:nth-child(n)
				justify-content: flex-end
			&:nth-child(2n)
				justify-content: flex-start

@include for-medium
	.small-item-slider
		&__content
			max-width: 900px
		&__item
			flex-basis: 33.3%
@include for-large
	.small-item-slider
		&__wrap
			position: relative
		&__button
			position: absolute
			z-index: 2
			&.slider__button-prev
				left: 10px
			&.slider__button-next
				right: 10px










  


