.social
	max-width: 128px
	display: flex
	justify-content: space-between
	&__icon
		width: 36px
		height: 36px
		background: #000000 url('../img/Surfing/social-icons.svg') no-repeat
		border-radius: 100%
		display: inline-block
		&:hover, &:not(:hover)
			transition: background-color .4s
		&.facebook-icon
			background-position: 14px 10px
			&:hover
				background-color: #3b5998
		&.instagram-icon
			background-position: -32px 10px
			&:hover
				background-color: #C13584
		&.email-icon
			background-position: -78px 10px
			&:hover
				background-color: #D44638
@include for-extra-small
	.social__icon
		width: 33px
		height: 33px
		&.facebook-icon
			background-position: 13px 8px
		&.instagram-icon
			background-position: -33px 8px
		&.email-icon
			background-position: -79px 8px
